.iframe_1{
    background-color: aqua;
    color: aquamarine;
    width: 100px;
    height: 100px;
}

.l1{
    background-color: aqua;
    color: aquamarine;
    width: 100px;
    height: 100px;
}

body{
    background-color: navy;
}
